.add_url{
  margin-top: 50px;
}

/* link */
.badge-true{
  color: green;
  background: green;
}

.badge-false{
  color: #EA0000;
  background: #EA0000;
}

.link-false{
  color: #EA0000;
  font-size: 12px!important;
  text-align: center;
}

.link-true{
  color: green;
  font-size: 12px!important;
  text-align: center;
}
/* 404 */
.row404{
  text-align: center;
}

/* alert */
.alert-danger{
  text-align: center;
}

.alert-danger li{
  list-style-type: none;
}
